* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	display: inline-block;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	font-family: "PT Serif", serif;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
}
header {
	font-family: "Roboto", sans-serif;
}

.pop_up {
	width: 100%;
	height: 100%;
	position: fixed;
	padding-top: 150px;
	background-color: transparent;
	left: 0;
	top: 0;
	z-index: 100;
	transform: translateY(-44.5%) scale(0);
	transition: 0.4s ease;
}
.pop_up_container {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.pop_up_body {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	position: relative;
}
.pop_up_body input {
	max-width: 290px;
	width: 100%;
}
.pop_up_body button {
	max-width: 290px;
	width: 100%;
}
.pop_up_close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}
.pop_up.active {
	transform: translateY(0%) scale(100%);
	background-color: rgba(0, 0, 0, 0.8);
}
.pop_up_body input:focus {
	outline: none;
}
.pop_up_body p {
	padding-top: 20px;
	font-size: 24px;
}
.pop_up_body input {
	display: block;
	margin: 25px auto 0px auto;
	width: 330px;
	padding: 17px 20px;
	background-color: #e5e5e5;
	border-radius: 10px;
	border: none;
	font-weight: 500;
	font-size: 15px;
	color: rgb(75, 75, 75);
}
.pop_up_body button {
	cursor: pointer;
	display: block;
	padding: 20px 0;
	margin: 60px auto 40px auto;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 14px;
	border: none;
	color: #fff;
	border-radius: 10px;
	background-color: orange;
}

.header__top {
	background-color: #303030;
}
.header__btn {
	float: right;
	line-height: 36px;
	font-family: "Roboto", sans-serif;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	font-size: 16px;
	position: relative;
}
.header__btn::before {
	content: "\f0b1";
	font-family: "icomoon" !important;
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}
.header__contacts::after {
	content: "";
	clear: both;
	display: block;
}
.header__phone,
.header__email {
	color: #cbcacb;
	letter-spacing: 0.25px;
	line-height: 45px;
	position: relative;
}
.header__phone {
	padding-left: 20px;
	padding-right: 30px;
}
.header__phone::before {
	content: "\f095";
	font-family: "icomoon" !important;
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__email {
	padding-left: 24px;
}
.header__email::before {
	content: "\f003";
	font-family: "icomoon" !important;
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__content {
	padding: 34px 0 23px;
}
.header__content-inner {
	display: flex;
	justify-content: space-between;
}
.menu li {
	display: inline-block;
}
.menu a {
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	border: 1px solid transparent;
	transition: all 0.3s;
	padding: 0 16px;
}
.menu a:hover {
	border-color: #ffc222;
}
.menu li + li {
	padding-left: 10px;
}
#modal {
	display: none;
}
.slider {
	background-image: url(../img/slider-fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}
.slider__item-content {
	text-align: center;
	padding-top: 110px;
	max-width: 665px;
	margin: 0 auto;
}
.slider__title {
	text-transform: uppercase;
	color: #fff;
	line-height: 36px;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 22px;
	letter-spacing: 1.5px;
	font-family: "Roboto", sans-serif;
}
.slider__text {
	font-size: 18px;
	line-height: 24px;
	color: #d3d2d2;
	margin-bottom: 50px;
}
.slider__btn {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	line-height: 24px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
}
.default-btn {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	line-height: 24px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	z-index: 2;
	outline: none;
}
.default-btn:after {
	content: "\f105";
	font-family: "icomoon" !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -13px;
}
.slider {
	position: relative;
}
.slick-btn {
	position: absolute;
	top: 70%;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	background-color: #ffc222;
}
.slick-btn.slick-disabled {
	cursor: default;
	background-color: transparent;
}
.slick-btn::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.slider__inner {
	position: relative;
}
.slider .slick-btn {
	top: 50%;
}
.slick-next::before {
	content: "\f105";
	font-family: "icomoon", sans-serif;
}
.slick-next {
	right: 0;
}
.slick-prev::before {
	font-family: "icomoon", sans-serif;
	content: "\f104";
}
.slick-prev {
	left: 0;
}
.services {
	padding: 50px 0px 30px;
}
.news__top,
.services__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.services__title-box,
.news__title-box,
.form__title-box {
	max-width: 520px;
	width: 100%;
	padding-left: 140px;
	position: relative;
}
.services__title-box::before,
.news__title-box::before,
.form__title-box::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}
.services__title,
.news__title,
.form__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	color: #212020;
	font-family: "Roboto", sans-sefif;
	margin-bottom: 10px;
}
.services__text,
.news__text,
.form__text {
	letter-spacing: 0.1px;
}
.services__btn a,
.news__btn a {
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.25px;
	padding: 5px 38px;
	border: 3px solid #e6e6e6;
}
.services__btn a:hover,
.news__btn a:hover {
	border-color: #ffc222;
	transition: all 0.3s;
}
.services__item {
	max-width: 360px;
	width: 100%;
	min-height: 375px;
	height: 100%;
	text-align: center;
	position: relative;
	padding: 30px 0px 30px;
	background-color: #f9f9f9;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__items {
	display: flex;
	justify-content: space-between;
	padding: 30px 0px 40px;
}
.services__item-title {
	color: #212020;
	line-height: 24px;
	font-size: 18px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	padding: 24px 0px;
}
.services__title-text {
	letter-spacing: 0.1px;
	padding: 0px 35px 30px;
	margin-bottom: 60px;
}
.services__item-btn {
	position: absolute;
	bottom: 40px;
	right: 0;
	left: 0;
}
.services__item-btn .default-btn {
	color: #373636;
}
.services__item-btn .default-btn::after {
	color: #fff;
}
.services__item-link {
	color: #050505;
	font-family: "Roboto", sans-serif;
	border-bottom: 1px solid #050505;
	margin-right: 60px;
}
.about {
	background-image: url(../img/about-fon.jpg);
	background-position: center;
	background-size: cover;
	min-height: 300px;
	height: 100%;
	background-size: no-repeat;
	padding: 25px 0px 45px;
}
.about__inner {
	max-width: 550px;
	width: 100%;
}
.about__title {
	padding: 10px 0px 25px;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
}
.about__text {
	letter-spacing: 0.1px;
	line-height: 24px;
	color: #d3d2d2;
	margin-bottom: 30px;
}
.about__btn.default-btn::after {
	color: #000;
}
.form__inner {
	padding-bottom: 40px;
	background-image: url(../img/girl.png);
	min-height: 460px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.form__box {
	max-width: 850px;
	width: 100%;
	padding-top: 45px;
}
.form__title {
	margin-top: 40px;
}
.form__box-inner {
	display: flex;
	justify-content: space-between;
}
.form__box-left {
	max-width: 260px;
	width: 100%;
}
.form__box-right {
	max-width: 555px;
	width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select {
	display: block;
	width: 100%;
}
.form__box-inner label {
	line-height: 36px;
	color: #282828;
	font-family: "Roboto", sans-serif;
}
.form__box-inner input {
	margin-bottom: 8px;
	outline: none;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding: 0px 15px;
}
.form__box-inner select {
	outline: none;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding: 0px 15px;
}
.form__box-inner textarea {
	outline: none;
	border: 1px solid #e6e6e6;
	padding: 10px;
	height: 207px;
	resize: none;
	margin-bottom: 40px;
}
.form__box-inner button {
	background-color: transparent;
	color: #282828;
	float: right;
}
.advantages {
	padding: 55px 0 40px;
	background-image: url(../img/advanteges.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 285px;
}
.advantages__inner {
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.advantages__item {
	max-width: 360px;
	width: 100%;
	padding: 0 20px;
}
.advantages__title {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding: 60px 0 15px;
	position: relative;
}
.advantages__title::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #ffc222;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.advantages__title::after {
	position: absolute;
	content: "\f00c";
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	font-family: "icomoon" !important;
}
.advantages__text {
	line-height: 24px;
	color: #d3d2d2;
	letter-spacing: 0.1px;
}
.news {
	padding: 55px 0px 110px;
	background-color: #f9f9f9;
}
.news__inner {
	display: flex;
	justify-content: space-between;
}
.news__slider {
	max-width: 555px;
	width: 100%;
	box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
	padding: 0px 35px 70px;
	position: relative;
}
.news__slider::before {
	position: absolute;
	top: 0;
	/* left: 70px; */
	content: "\f10e";
	font-family: "icomoon" !important;
	width: 65px;
	height: 30px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background-color: #ffc222;
}
.news__blog {
	max-width: 260px;
	width: 100%;
}
.news__images {
	position: relative;
}
.news__date {
	position: absolute;
	background-color: #ffc222;
	width: 50px;
	height: 55px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-weight: 700;
	top: 0;
	left: 10px;
}
.news__blog-title {
	color: #242424;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 12px 0;
}
.news__blog-text {
	color: #5e5e5e;
	letter-spacing: 0.1px;
	max-width: 240px;
	width: 100%;
}
.news__slider-title {
	flex: 18px;
	font-weight: 500;
	line-height: 24px;
	color: #242424;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.news__slider-text {
	margin-bottom: 30px;
}
.news__slider-author {
	/* font-size: 14px; */
	letter-spacing: 0.1px;
	color: #212020;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
}
.news__slider-inner,
.slick-btn {
	top: auto;
	bottom: -110px;
}
.news__slider-inner,
.slick-next {
	right: -35px;
}
.news__slider-inner,
.slick-prev {
	right: 20px;
	left: auto;
}
.footer__content {
	background-color: #595959;
	padding: 20px 0px 30px;
	margin-top: 30px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
}
.footer__map {
	padding-top: 10px;
	max-width: 630px;
	width: 100%;
}
.footer__map iframe {
	width: 100%;
}
.footer__inner .header__btn {
	float: none;
	display: inline-block;
}
.footer__info {
	max-width: 360px;
	width: 100%;
}
.footer__list {
	padding-top: 10px;
}
.footer__title {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: #fff;
	line-height: 36px;
	letter-spacing: 0.5px;
}
.footer__text {
	color: #d3d2d2;
	margin-bottom: 20px;
}
.footer__list li {
	margin-top: 10px;
}
.footer__list a {
	line-height: 24px;
	letter-spacing: 0.25px;
	color: #fff;
	padding-left: 33px;
	position: relative;
}
.footer__list a::before {
	content: "\f003";
	font-family: "icomoon" !important;
	position: absolute;
	left: 0;
	color: #ffc222;
}
.footer__copy {
	background-color: #303030;
	text-align: center;
	font-family: "Roboto", sans-serif;
	color: #e3e3e3;
	line-height: 24px;
	font-size: 12px;
	font-weight: 400;
	padding: 8px 0px;
}
.footer__list .footer__phone::before {
	content: "\f095";
	left: 3px;
}
.footer__list .footer__adress::before {
	content: "\f041";
	left: 3px;
}
.header__btn-menu {
	display: none;
	font-size: 28px;
}
.slick-arrow {
	right: 0;
}
.slick-prev {
	left: 0;
}
.news__slider-inner .slick-next {
	/* left: 600px; */
	left: 55px;
}
.default-btn {
	cursor: pointer;
}
@media (max-width: 1156px) {
	.news__slider-inner,
	.slick-btn {
		bottom: -60px;
	}
	.news {
		padding-bottom: 50px;
	}
	.news__blog {
		margin-right: 20px;
	}
	.services__item {
		max-width: 80%;
		min-height: 330px;
		margin: 30px auto;
	}
	.services__items {
		display: block;
	}
	.form__inner {
		background-image: none;
	}
	.news__inner {
		display: block;
	}
	.news__slider {
		max-width: 100%;
		margin-bottom: 100px;
	}
	.footer__info {
		margin: 0 auto;
		text-align: center;
	}
}
@media (max-width: 1150px) {
	.footer__inner {
		display: block;
	}
	.footer__map {
		max-width: 100%;
	}
	.footer__content {
		margin: 0 auto;
	}
}
@media (max-width: 900px) {
	.news__top {
		display: block;
		text-align: center;
	}
	.slider .slick-btn {
		display: none !important;
	}
	.services__top {
		display: block;
	}
	.services__title-box,
	.form__title-box,
	.news__title-box {
		padding-left: 0;
		text-align: center;
		margin: 0 auto 30px;
	}
	.services__title-box::before,
	.form__title-box::before,
	.news__title-box::before {
		display: none;
	}
	.services__btn {
		padding-top: 20px;
		text-align: center;
	}
	.form__box-inner {
		display: block;
		justify-content: center;
	}
	.form__box-right {
		max-width: 555px;
		width: 100%;
	}
	.form__box-left {
		width: 100%;
	}
	.form__box-inner .jq-selectbox__select {
		margin-bottom: 10px;
	}
	.form {
		margin-bottom: 30px;
	}
	.advantages__inner {
		display: block;
	}
	.advantages__item {
		max-width: 100%;
		margin-bottom: 20px;
	}
}
@media (max-width: 700px) {
	.header__btn {
		float: none;
		display: block;
	}
	.header__contacts {
		text-align: center;
	}
	.header__btn::before {
		display: none;
	}
	.header__btn-menu {
		display: block;
	}
	.menu ul {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 50;
		margin-top: 20px;
	}
	.menu li {
		display: block;
		border: 1px solid #fff;
	}
	.menu a {
		display: block;
		background-color: #ffc222;
	}
	.menu li + li {
		padding-left: 0;
	}
}
@media (max-width: 600px) {
	.services__item {
		max-width: 100%;
		min-height: 375px;
		margin: 30px auto;
	}
}
@media (max-width: 414px) {
	.slider__title {
		font-size: 24px;
	}
	.slider__text {
		font-size: 16px;
	}
}
@media (max-width: 400px) {
	.header__btn::before {
		display: block;
	}
}
@media (max-width: 400px) {
	.header__btn::before {
		display: block;
	}
}
@media (max-width: 382px) {
	.header__email {
		padding-right: 30px;
	}
}
@media (min-width: 700px) {
	.menu ul {
		display: block !important;
	}
}
